<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="wrapper">
    <div id="map"></div>
    <div id="menu">
      <button class="menu_button" data-action="addShelter">Add Shelter</button>
      <button class="menu_button" data-action="findSpecificShelter">Find Specific Shelter</button>
      <button class="menu_button" data-action="closestShelter">Closest Shelter</button>
      <button class="menu_button" data-action="login">Login with Facebook</button>
    </div>
  </div>
  <script src="/js/shelterzClient.js"></script>
  <script src="/js/fb.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/menu.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKncGgTEiZdPe6KNuaPjjYtpcraSuHgx4&callback=initMap"></script>
  </body>
</html>
