<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="wrapper">
    <div id="map"></div>
    <div id="menu">
      <button class="menu_button" data-action="addEvent">Add Event</button>
      <button class="menu_button" data-action="findSpecificEvent">Find Specific Event</button>
      <button class="menu_button" data-action="closestEvent">Closest Event</button>
      <button class="menu_button" data-action="login">Login with Facebook</button>
      <button id="open_menu"></button>
    </div>
  </div>
  <script src="/js/map.js"></script>
  <script src="/js/menu.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKncGgTEiZdPe6KNuaPjjYtpcraSuHgx4&callback=initMap"></script>
  </body>
</html>
