<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body{
        width: auto;
        height: auto;
      }
      #map {
        height: 100vh;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script src="/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKncGgTEiZdPe6KNuaPjjYtpcraSuHgx4&callback=initMap"></script>
    <div id="menu">
      <button id="open_menu"></button>
      <button id="closest_shelter">Closest Shelter</button>
      <button id="add_shelter">Add Shelter</button>
      <button id="find_shelter">Find Specific Shelter</button>
    </div>
  </body>
</html>
